body {
  overflow: hidden;
}

.grid-container {
  height: 80vh;
  width: 2560px;
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 5.9%;
  left: 0%;
}

.grid-row {
  display: flex;
}

.grid-item {
  background-color: white;
  border: 1px solid black;
  width: 24px;
  height: 24px;
  transform: scale(0.9);
}

.wall {
  background: gray;
}

button {
  height: 10vh;
  width: 10vw;
  font-size: 1.7rem;
  background: #dd8888;
}

button:hover {
  cursor: pointer;
  background: #d75252;
}

.start-node {
  background: #abbeea;
}

.end-node {
  background: #fff000;
}


#speeds {
  position: absolute;
  right: 1%;
  width: 5vw;
}

#algorithms {
  position: absolute;
  right: 6.5%;
  width: 5vw;
}

@keyframes grow {
  0% {
    transform: scale(1.2);
    background-color: yellow;
  }

  100% {
    transform: scale(0.9);
    background-color: #88e297;
  }
}

@keyframes grow-reverse {
  0% {
    transform: scale(1.2);
    background-color: #88cbe2;
  }

  100% {
    transform: scale(0.9);
    background-color: #bc88e2;
  }
}

.shortest-path {
  animation: grow 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

.visited-node {
  animation: grow-reverse 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

/* .tutorial-wrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: black;
  left: 0%;
  top: 0%;
}

.tutorial {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px white solid;
  height: 75vh;
  width: 35%;
  border-radius: 15px;
}

.next-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  top: 85%;
  border-radius: 10px;
  font-size: 3.5rem;
  font-family: 'Nunito', Nunito, sans-serif;
  color: #abbeea;
  background: #708ed2;
}

.next-button:hover {
  background: #3d68ce;
  transition: background 0.5s linear, color 0.5s linear;
} */